
:root {
  --apple-systemBlue: rgba(0, 122, 255, 1);
  --apple-systemBrown: rgba(162, 132, 94, 1);
  --apple-systemCyan: rgba(50, 173, 230, 1);
  --apple-systemGreen: rgba(52, 199, 89, 1);
  --apple-systemIndigo: rgba(88, 86, 214, 1);
  --apple-systemMint: rgba(0, 199, 190, 1);
  --apple-systemOrange: rgba(255, 149, 0, 1);
  --apple-systemPink: rgba(255, 45, 85, 1);
  --apple-systemPurple: rgba(175, 82, 222, 1);
  --apple-systemRed: rgba(255, 59, 48, 1);
  --apple-systemTeal: rgba(48, 176, 199, 1);
  --apple-systemYellow: rgba(255, 204, 0, 1);
  --apple-systemGray: rgba(142, 142, 147, 1);
  --apple-systemGray2: rgba(174, 174, 178, 1);
  --apple-systemGray3: rgba(199, 199, 204, 1);
  --apple-systemGray4: rgba(209, 209, 214, 1);
  --apple-systemGray5: rgba(229, 229, 234, 1);
  --apple-systemGray6: rgba(242, 242, 247, 1);
  --apple-label: rgba(0, 0, 0, 1);
  --apple-secondaryLabel: rgba(61.2, 61.2, 66, 0.6);
  --apple-tertiaryLabel: rgba(61.2, 61.2, 66, 0.3);
  --apple-quaternaryLabel: rgba(61.2, 61.2, 66, 0.18);
  --apple-systemFill: rgba(119.85, 119.85, 127.5, 0.2);
  --apple-secondarySystemFill: rgba(119.85, 119.85, 127.5, 0.16);
  --apple-tertiarySystemFill: rgba(117.3, 117.3, 127.5, 0.12);
  --apple-quaternarySystemFill: rgba(114.75, 114.75, 127.5, 0.08);
  --apple-placeholderText: rgba(61.2, 61.2, 66, 0.3);
  --apple-systemBackground: rgba(255, 255, 255, 1);
  --apple-secondarySystemBackground: rgba(242.25, 242.25, 247.35, 1);
  --apple-tertiarySystemBackground: rgba(255, 255, 255, 1);
  --apple-systemGroupedBackground: rgba(242.25, 242.25, 247.35, 1);
  --apple-secondarySystemGroupedBackground: rgba(255, 255, 255, 1);
  --apple-tertiarySystemGroupedBackground: rgba(242.25, 242.25, 247.35, 1);
  --apple-separator: rgba(61.2, 61.2, 66, 0.29);
  --apple-opaqueSeparator: rgba(198.9, 198.9, 198.9, 1);
  --apple-link: rgba(0, 122.4, 255, 1);
  --apple-darkText: rgba(0, 0, 0, 1);
  --apple-lightText: rgba(255, 255, 255, 0.6);
}
@media (color-gamut: p3) {
    :root {
        --apple-systemBlue: color(display-p3 0.00 0.48 1.00);
        --apple-systemBrown: color(display-p3 0.64 0.52 0.37);
        --apple-systemCyan: color(display-p3 0.20 0.68 0.90);
        --apple-systemGreen: color(display-p3 0.20 0.78 0.35);
        --apple-systemIndigo: color(display-p3 0.35 0.34 0.84);
        --apple-systemMint: color(display-p3 0.00 0.78 0.75);
        --apple-systemOrange: color(display-p3 1.00 0.58 0.00);
        --apple-systemPink: color(display-p3 1.00 0.18 0.33);
        --apple-systemPurple: color(display-p3 0.69 0.32 0.87);
        --apple-systemRed: color(display-p3 1.00 0.23 0.19);
        --apple-systemTeal: color(display-p3 0.19 0.69 0.78);
        --apple-systemYellow: color(display-p3 1.00 0.80 0.00);
        --apple-systemGray: color(display-p3 0.56 0.56 0.58);
        --apple-systemGray2: color(display-p3 0.68 0.68 0.70);
        --apple-systemGray3: color(display-p3 0.78 0.78 0.80);
        --apple-systemGray4: color(display-p3 0.82 0.82 0.84);
        --apple-systemGray5: color(display-p3 0.90 0.90 0.92);
        --apple-systemGray6: color(display-p3 0.95 0.95 0.97);
        --apple-label: color(display-p3 0.00 0.00 0.00);
        --apple-secondaryLabel: color(display-p3 0.24 0.24 0.26 / 0.6);
        --apple-tertiaryLabel: color(display-p3 0.24 0.24 0.26 / 0.3);
        --apple-quaternaryLabel: color(display-p3 0.24 0.24 0.26 / 0.18);
        --apple-systemFill: color(display-p3 0.47 0.47 0.50 / 0.2);
        --apple-secondarySystemFill: color(display-p3 0.47 0.47 0.50 / 0.16);
        --apple-tertiarySystemFill: color(display-p3 0.46 0.46 0.50 / 0.12);
        --apple-quaternarySystemFill: color(display-p3 0.45 0.45 0.50 / 0.08);
        --apple-placeholderText: color(display-p3 0.24 0.24 0.26 / 0.3);
        --apple-systemBackground: color(display-p3 1.00 1.00 1.00 / 1);
        --apple-secondarySystemBackground: color(display-p3 0.95 0.95 0.97 / 1);
        --apple-tertiarySystemBackground: color(display-p3 1.00 1.00 1.00 / 1);
        --apple-systemGroupedBackground: color(display-p3 0.95 0.95 0.97 / 1);
        --apple-secondarySystemGroupedBackground: color(display-p3 1.00 1.00 1.00 / 1);
        --apple-tertiarySystemGroupedBackground: color(display-p3 0.95 0.95 0.97 / 1);
        --apple-separator: color(display-p3 0.24 0.24 0.26 / 0.29);
        --apple-opaqueSeparator: color(display-p3 0.78 0.78 0.78 / 1);
        --apple-link: color(display-p3 0.00 0.48 1.00 / 1);
        --apple-darkText: color(display-p3 0.00 0.00 0.00 / 1);
        --apple-lightText: color(display-p3 1.00 1.00 1.00 / 0.6);

    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --apple-systemBlue: rgba(10, 132, 255, 1);
        --apple-systemBrown: rgba(172, 142, 104, 1);
        --apple-systemCyan: rgba(100, 210, 255, 1);
        --apple-systemGreen: rgba(48.45, 209.1, 89.25, 1);
        --apple-systemIndigo: rgba(94, 92, 230, 1);
        --apple-systemMint: rgba(99, 230, 226, 1);
        --apple-systemOrange: rgba(255, 159, 10, 1);
        --apple-systemPink: rgba(255, 55, 95, 1);
        --apple-systemPurple: rgba(191, 90, 242, 1);
        --apple-systemRed: rgba(255, 69, 58, 1);
        --apple-systemTeal: rgba(64, 200, 224, 1);
        --apple-systemYellow: rgba(255, 214, 10, 1);
        --apple-systemGray: rgba(142, 142, 147, 1);
        --apple-systemGray2: rgba(99, 99, 102, 1);
        --apple-systemGray3: rgba(72, 72, 74, 1);
        --apple-systemGray4: rgba(58, 58, 60, 1);
        --apple-systemGray5: rgba(44, 44, 46, 1);
        --apple-systemGray6: rgba(28, 28, 30, 1);
        --apple-label: rgba(255, 255, 255, 1);
        --apple-secondaryLabel: rgba(234.6, 234.6, 244.8, 0.6);
        --apple-tertiaryLabel: rgba(234.6, 234.6, 244.8, 0.3);
        --apple-quaternaryLabel: rgba(234.6, 234.6, 244.8, 0.16);
        --apple-systemFill: rgba(119.85, 119.85, 127.5, 0.36);
        --apple-secondarySystemFill: rgba(119.85, 119.85, 127.5, 0.32);
        --apple-tertiarySystemFill: rgba(117.3, 117.3, 127.5, 0.24);
        --apple-quaternarySystemFill: rgba(117.3, 117.3, 127.5, 0.18);
        --apple-placeholderText: rgba(234.6, 234.6, 244.8, 0.3);
        --apple-systemBackground: rgba(0, 0, 0, 1);
        --apple-secondarySystemBackground: rgba(28.05, 28.05, 30.6, 1);
        --apple-tertiarySystemBackground: rgba(43.35, 43.35, 46.35, 1);
        --apple-systemGroupedBackground: rgba(0, 0, 0, 1);
        --apple-secondarySystemGroupedBackground: rgba(28.05, 28.05, 30.6, 1);
        --apple-tertiarySystemGroupedBackground: rgba(43.35, 43.35, 46.35, 1);
        --apple-separator: rgba(84.15, 84.15, 89.25, 0.6);
        --apple-opaqueSeparator: rgba(56.1, 56.1, 58.65, 1);
        --apple-link: rgba(10.2, 132.6, 255, 1);
        --apple-darkText: rgba(0, 0, 0, 1);
        --apple-lightText: rgba(255, 255, 255, 0.6);
    }

    @media (color-gamut: p3) {
        :root {
            --apple-systemBlue: color(display-p3 0.04 0.52 1.00);
            --apple-systemBrown: color(display-p3 0.67 0.56 0.41);
            --apple-systemCyan: color(display-p3 0.39 0.82 1.00);
            --apple-systemGreen: color(display-p3 0.19 0.82 0.35);
            --apple-systemIndigo: color(display-p3 0.37 0.36 0.90);
            --apple-systemMint: color(display-p3 0.39 0.90 0.89);
            --apple-systemOrange: color(display-p3 1.00 0.62 0.04);
            --apple-systemPink: color(display-p3 1.00 0.22 0.37);
            --apple-systemPurple: color(display-p3 0.75 0.35 0.95);
            --apple-systemRed: color(display-p3 1.00 0.27 0.23);
            --apple-systemTeal: color(display-p3 0.25 0.78 0.88);
            --apple-systemYellow: color(display-p3 1.00 0.84 0.04);
            --apple-systemGray: color(display-p3 0.56 0.56 0.58);
            --apple-systemGray2: color(display-p3 0.39 0.39 0.40);
            --apple-systemGray3: color(display-p3 0.28 0.28 0.29);
            --apple-systemGray4: color(display-p3 0.23 0.23 0.24);
            --apple-systemGray5: color(display-p3 0.17 0.17 0.18);
            --apple-systemGray6: color(display-p3 0.11 0.11 0.12);
            --apple-label: color(display-p3 1.00 1.00 1.00);
            --apple-secondaryLabel: color(display-p3 0.92 0.92 0.96 / 0.6);
            --apple-tertiaryLabel: color(display-p3 0.92 0.92 0.96 / 0.3);
            --apple-quaternaryLabel: color(display-p3 0.92 0.92 0.96 / 0.16);
            --apple-systemFill: color(display-p3 0.47 0.47 0.50 / 0.36);
            --apple-secondarySystemFill: color(display-p3 0.47 0.47 0.50 / 0.32);
            --apple-tertiarySystemFill: color(display-p3 0.46 0.46 0.50 / 0.24);
            --apple-quaternarySystemFill: color(display-p3 0.46 0.46 0.50 / 0.18);
            --apple-placeholderText: color(display-p3 0.92 0.92 0.96 / 0.3);
            --apple-systemBackground: color(display-p3 0.00 0.00 0.00 / 1);
            --apple-secondarySystemBackground: color(display-p3 0.11 0.11 0.12 / 1);
            --apple-tertiarySystemBackground: color(display-p3 0.17 0.17 0.18 / 1);
            --apple-systemGroupedBackground: color(display-p3 0.00 0.00 0.00 / 1);
            --apple-secondarySystemGroupedBackground: color(display-p3 0.11 0.11 0.12 / 1);
            --apple-tertiarySystemGroupedBackground: color(display-p3 0.17 0.17 0.18 / 1);
            --apple-separator: color(display-p3 0.33 0.33 0.35 / 0.6);
            --apple-opaqueSeparator: color(display-p3 0.22 0.22 0.23 / 1);
            --apple-link: color(display-p3 0.04 0.52 1.00 / 1);
            --apple-darkText: color(display-p3 0.00 0.00 0.00 / 1);
            --apple-lightText: color(display-p3 1.00 1.00 1.00 / 0.6);
        }
    }
}
